:root {

    padding: 0;
    margin: 0;

}

html,
body {
    color: rgb(0, 0, 0);
    background: url(assets/bg.png) center center no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'Sigmar', cursive;
}

header {
    height: 50%;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 45px;
}

hr {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20%;
    width: 50%;
}

h2 {
    width: 55%;
    font-size: 15px;
    font-family: 'Bruno Ace SC', cursive;
    padding-bottom: 20px;
}

.linkgroup {
    display: flex;
    padding-right: 15px;
}

.linkgroup h4 {
    font-size: 15px;
    margin: 20px 0px 0px 0px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

.linkgroup h4:hover {
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: rgb(2, 2, 2);
    margin-right: 15px;

}

.linkgroup h4 span {
    position: relative;
    margin-right: 15px;
}

.linkgroup h4 span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    top: -5px;
    transition: .3s linear;
}

.linkgroup h4:hover span::before {
    border: 2px solid black;
}

.linkgroup h4 .bi {
    display: none;
}

.linkgroup .active {
    color: rgb(0, 0, 0);
}

.linkgroup .active span {
    display: none;
}

.linkgroup .active .bi {
    display: flex;
    margin-right: 10px;
}